<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">Dojo Shindokan</div>
            <div class="card-body">
                <h5 class="card-title">Maestro: MariaTeresa</h5>
                <p class="card-text"> Numero: 649546309 <br> correo: shindokan@gmail.com <br> localizacion: Av.Dehesa 3 Navalcarnero Madrid.</p>
                <button type="button" class="btn btn-outline-primary"> contactar via correo (futura implementacion)</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">Dojo #####</div>
            <div class="card-body">
                <h5 class="card-title">Maestro: #####</h5>
                <p class="card-text">Numero: ##### <br> correo: ##### <br> localizacion: ##### </p>
                <button type="button" class="btn btn-outline-primary"> contactar via correo (futura implementacion)</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">Dojo #####</div>
            <div class="card-body">
                <h5 class="card-title">Maestro: #####</h5>
                <p class="card-text">Numero: ##### <br> correo: ##### <br> localizacion: ##### </p>
                <button type="button" class="btn btn-outline-primary"> contactar via correo (futura implementacion)</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card border-info mb-3" style="max-width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-header">Dojo #####</div>
            <div class="card-body">
                <h5 class="card-title">Maestro: #####</h5>
                <p class="card-text">Numero: ##### <br> correo: ##### <br> localizacion: ##### </p>
                <button type="button" class="btn btn-outline-primary"> contactar via correo (futura implementacion)</button>
            </div>
        </div>
    </div>
</div>