<div id="contactos">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div align="center">
                    <img src="../../../assets/img/shindokan.png" class="card-img-top" alt="..." style="max-width: 4rem;">
                </div>
                <div class=" card-header ">
                    <h5>Dojo Shindokan</h5>
                </div>
                <div class="card-body ">
                    <p class="card-title "><b>Maestro:</b> MariaTeresa Sensei </p>
                    <p class="card-text "> <b>Numero:</b> 649546309 <br> <b>Correo:</b> shindokan@gmail.com <br> <b>Localizacion:</b> Av.Dehesa 3 Navalcarnero Madrid.</p>
                    <button type="button " class="btn btn-outline-danger "> contactar via correo (futura implementacion)</button>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card border-danger mb-3 " style="max-width: 18rem; ">
                <div align="center">
                    <img src="../../../assets/img/Ursun.webp " class="card-img-top " alt="... " style="max-width: 8rem;">
                </div>
                <div class="card-header ">
                    <h5>Dojo Dabaikan</h5>
                    <div>
                        <div class="card-body ">
                            <p class="card-title "> <b>Maestro:</b> Erira Sensei </p>
                            <p class="card-text "> <b>Numero:</b> 695962041 <br> <b> Correo:</b> dabai@gmail.com <br> <b>Localizacion:</b> Calle del Oso 8 Erengrado </p>
                            <button type="button " class="btn btn-outline-danger "> contactar via correo (futura implementacion)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card border-danger mb-3 " style="max-width: 18rem; ">
                <div align="center">
                    <img src="../../../assets/img/aaiLogo.jpg " class="card-img-top " alt="... " style="max-width: 8rem;">
                </div>
                <div class="card-header ">
                    <h5>Dojo AAI Headquarters</h5>
                    <div>
                        <div class="card-body ">
                            <p class="card-title "><b>Maestro:</b> Tatsuo Toyoda Sensei</p>
                            <p class="card-text "><b>Numero:</b> (773) 525-3141 <br> <b>Correo:</b> info@aaa-aikido.com <br> <b>Localizacion:</b> 1016 W Belmont Ave Chicago, IL 60657 </p>
                            <button type="button " class="btn btn-outline-danger "> contactar via correo (futura implementacion)</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card border-danger mb-3 " style="max-width: 18rem; ">
                <div align="center">
                    <img src="../../../assets/img/aikikai.png " class="card-img-top " alt="... " style="max-width: 8rem;">
                </div>
                <div class="card-header ">
                    <h5>Aikikai Honbu Dojo</h5>
                    <div class="card-body ">
                        <p class="card-title "><b>Maestro:</b> Moriteru Ueshiba</p>
                        <p class="card-text "><b>Numero:</b> 81-3-3203-9236 <br> <b>Correo:</b> aikido@aikikai.or.jp <br> <b>Localizacion:</b> 17-18 Wakamatsu-cho Shinjuku-ku, Tokyo, </p>
                        <button type="button " class="btn btn-outline-danger "> contactar via correo (futura implementacion)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>