<div id="texto">

    <h1>Criterios de conformidad de WCAG 2.0</h1>

    <h3>Criterios de conformidad de nivel A</h3>
    <p>
        <b>1.1.1 Contenido no textual</b> Todo contenido no textual que se presenta al usuario tiene una alternativa textual que cumple el mismo propósito, excepto en las situaciones enumeradas a continuación.
        <br> <b>1.3.1 Información y relaciones</b> La información, estructura y relaciones comunicadas a través de la presentación pueden ser determinadas por software o están disponibles como texto.
        <br>
        <b>1.3.2 Secuencia significativa</b> Cuando la secuencia en que se presenta el contenido afecta a su significado, se puede determinar por software la secuencia correcta de lectura.
        <br>
        <b>1.3.3 Características sensoriales</b> Las instrucciones proporcionadas para entender y operar el contenido no dependen exclusivamente en las características sensoriales de los componentes como su forma, tamaño, ubicación visual, orientación
        o sonido.
        <br>
        <b>2.1.1 Teclado</b> Toda la funcionalidad del contenido es operable a través de una interfaz de teclado sin que se requiera una determinada velocidad para cada pulsación individual de las teclas, excepto cuando la función interna requiere de
        una entrada que depende del trayecto de los movimientos del usuario y no sólo de los puntos inicial y final.
        <br>
        <b>2.1.2 Sin trampas para el foco del teclado</b> Si es posible mover el foco a un componente de la página usando una interfaz de teclado, entonces el foco se puede quitar de ese componente usando sólo la interfaz de teclado y, si se requiere
        algo más que las teclas de dirección o de tabulación, se informa al usuario el método apropiado para mover el foco.
        <br>
        <b>2.3.1 Umbral de tres destellos o menos</b> Las páginas web no contienen nada que destelle más de tres veces en un segundo, o el destello está por debajo del umbral de destello general y de destello rojo.
        <br>
        <b>2.4.2 Titulado de páginas</b> Las páginas web tienen títulos que describen su temática o propósito.
        <br>
        <b>3.2.2 Al recibir entradas</b> El cambio de estado en cualquier componente de la interfaz de usuario no provoca automáticamente un cambio en el contexto a menos que el usuario haya sido advertido de ese comportamiento antes de usar el componente.
        <br>
        <b>4.1.1 Procesamiento</b> En los contenidos implementados mediante el uso de lenguajes de marcas, los elementos tienen las etiquetas de apertura y cierre completas; los elementos están anidados de acuerdo a sus especificaciones; los elementos
        no contienen atributos duplicados y los ID son únicos, excepto cuando las especificaciones permitan estas características
        <br>











    </p>


</div>