<h1>Mapa Web:</h1>

<div id="segundonivel">

    <h4> <a class="navbar-brand" routerLink="/index">Pagina Principal</a> </h4>
    <span>
       <h5> <a class="navbar-brand" routerLink="/tablaDojos">-Dojos</a></h5>
       
        <span>
           <h6><a class="navbar-brand" routerLink="/altaDojos">--Nuevo/Editar Dojo</a></h6> 
        </span>
    <h5><a class="navbar-brand" routerLink="/tablaAlumnos">-Alumnos</a></h5>
    <span>
        <h6> <a class="navbar-brand" routerLink="/altaAlumno">--Nuevo/Editar Alumno</a> </h6>
    </span>
    <h5> <a class="navbar-brand" routerLink="/noticias">-Noticias</a></h5>
    <h5><a class="navbar-brand" routerLink="/contactos">-Contactos</a></h5>
    <h5><a class="navbar-brand" routerLink="/accesibilidad">-Criterios</a></h5>
    <h5><a class="navbar-brand" routerLink="/mapa">-MapaWeb</a></h5>
    </span>
</div>